*.exe
*.obj
*.dll
*.pdb
*.config
*.json
*.cache
*.vcd
*.vvp
*.dot
*.svg*
datasets/
*.pt
*.onnx
*.bin
*_int8_openvino_model/
cam_in.hex
cam_out.hex
tile_count.txt
high_freq_results/
thermal_results/
__pycache__/
LibreHardwareMonitor*
Aga.Controls.*
BlackSharp.Core.*
DiskInfoToolkit.*
HidSharp.*
OxyPlot.*
RAMSPDToolkit-NDD.*
System.*
de/
es/
fr/
it/
ja/
pl/
ru/
sv/
tr/
zh-*/
runtimes/
